.navbar-header {
    background-color: #1f7698;

}

.right-aligned {
    right: 30px;
}

.bottom-space {
    padding-bottom: 30px;
}

.header-font {
    color: white;
    font-family: 'Courier New'
}

#scroll-container {
    border: 0px solid red;
    border-radius: 5px;
    font-size: 18px;
    overflow: hidden;
}

#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 35s linear infinite;
    -webkit-animation: my-animation 35s linear infinite;
    animation: my-animation 35s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

table {
    width: 100%;
}

td {
    height: 40px;
}